body{
  background-color: #26262D;
}

.hr{
  margin: 25px 0;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#31313A), to(#31313A), color-stop(50%, white));
}

.container{
  background-color: #26262D
}

#card{
    color:white;
    background-color: #1e272e;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoqMu11nwxH8qMyrrQph8cmfPCC0kg15s14w&usqp=CAU);
    text-align: center;
    width: 500px;
    margin-top: 10px;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
    border-radius: 1%;
}

.heading-skills{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  padding-bottom: 0px;
  padding-top:50px;
  margin-left:20px;
}

.heading-about{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding-bottom: 0px;
  margin-left:30px;
  color: white;
}

.logo{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 20px 5px;
    border-color: blanchedalmond;
}

#profile-picture{
    /* border-radius: 100%; */
    height: 150px;
    width: 150px;
    margin-top: 180px;
    border-width: 100%;
    border-color: blanchedalmond;
}

.email{
  color: #78CC65;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.profile-icons{
  height: 20px;
  width: 20px;
}

.profile-name{
  padding: 10px 20px -10px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: -10px;
}

.profile{
  padding: 2% 2%;
}

.profile-contact-button{
  text-align: center;
  /* min-width: 250px;
  max-width: 250px; */
}

.profile-resume-button{
  text-align: center;
  /* min-width: 250px;
  max-width: 250px; */
  
}

#about-card{
  background-color: #31313A;
  color:#9E9EA2;
}

.about-card{
  text-align: left;
  width: 500px;
  margin-top: 25px;
  border-radius: 1%;
  margin-left: 30px;
}

.paragraph-content{
  margin-left: 30px;
}

.scroll {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.quote{
  margin-top: 80px;
}

.quote-content{
  width: 497px;
  text-align: center;
}

.quote-icon-left{
  height: 15px;
}

.quote-icon-right{
  height: 15px;
}

.blockquote-footer{
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.navbar-brand{
  background-color: #31313A;
}

.navbar-icon{
  background-color: #31313A;
  margin: 0px 20px 0px 20px;
}