body{
  background-color: #26262D;
}

#root{
  background-color: #26262D  
}

.hr{
  margin: 2px 0px 20px 0px;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#31313A), to(#31313A), color-stop(50%, white));
}

/* Main Profile Card....................................................................... */

#card{
    color:white;
    background-color: #1e272e;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoqMu11nwxH8qMyrrQph8cmfPCC0kg15s14w&usqp=CAU);
    text-align: center;
    width: 500px;
    margin-top: 10px;
    box-shadow: 0 0 10px 0 rgb(41,41,49);
    border-radius: 1%;
}

.logo{
    height: 40px;
    width: 30px;
    padding: 10px 5px;
    margin-bottom: 10px;
    margin-top: -10px;
    border-color: black;
}

.col{
  padding-top: 20px;
  width: 20px;
}

#profile-picture{
    height: 150px;
    width: 150px;
    margin-top: 180px;
    border-width: 100%;
    border-color: blanchedalmond;
}

.email{
  color: #78CC65;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.profile-icons{
  height: 17px;
  width: 22px;
  margin-left: 12px;
  margin-top: 15px;
}

.profile-name{
  padding: 10px 20px -10px 20px;
  color: #DED1B5;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: -10px;
}

.profile{
  padding: 2% 2%;
  /* background-color: #31313A; */
}

.btn-block{
  margin-top: 0px;
}

.profile-contact-button{
  text-align: center;
  /* min-width: 250px;
  max-width: 250px; */
}

.profile-resume-button{
  text-align: center;
  margin-top: 8px;
  /* min-width: 250px;
  max-width: 250px; */
  
}

.resume-text{
  color: #D3DAD3;
  font-size: 15px;
  font-weight: 600;
  margin-left: 70px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.contact-text{
  color: #D3DAD3;
  font-size: 15px;
  font-weight: 600;
  margin-left: 45px;
  margin-top: 12px;
  margin-bottom: 10px;
}


/* About Card............................................................................. */

#about-card{
  background-color: #31313A;
  color:#9E9EA2;
}

.heading-skills{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
  padding-bottom: 5px;
  padding-top:60px;
  margin-left:20px;
  background: linear-gradient(to right, #92FF87, #94FA50 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 800ms ease;
}

.heading-skills:hover{
  background-position: 0 100%;
}

.heading-about{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: -20px;
  margin-left:30px;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to right, #92FF87, #94FA50 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 800ms ease;
}

.heading-about:hover {
  background-position: 0 100%;
}

.about-card{
  text-align: left;
  width: 500px;
  margin-top: 25px;
  border-radius: 1%;
  margin-left: 30px;
}

.paragraph-content{
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;

}

.scroll {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.quote{
  margin-top: 80px;
}

.quote-content{
  width: 497px;
  text-align: center;
}

.quote-icon-left{
  height: 15px;
}

.quote-icon-right{
  height: 15px;
}

.albert-einstein{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: white;
}

/* Navbar............................................................................. */

.navbar-brand{
  background-color: #31313A;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.figures{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #31313A;  
}

.navbar-icon{
  background-color: #31313A;
  height: 30px;
  margin: 0px 20px 0px 20px;
}

.navbar-icon{
  background-color: #31313A;
  margin: 0px 20px 0px 20px;
}

.navbar-custom{
  background-color: #26262D;  
}

.nav{
  background-color: #26262D;
  padding-top: 20px;
}

.nav-text{
  padding-top:5px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}